<h1>Supid Coaching</h1>

<div class="d-flex flex-column mb-3" >
  <form action="/answer" method="get" data-turbo="false" text-align="center">
    <input class= "form-control" type="text" name="question" placeholder="Ask your question to the stupid coach">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
